<!DOCTYPE html>
<html>
<head>
    <title>Privacy Policy</title>
</head>
<body>
    Refund and Cancellation Policy <br>

    Our focus is complete customer satisfaction. In the event, if you are displeased with the services provided, we will not refund back the money. Please read the fine prints of each deal before buying it, it provides all the details about the services or the product you purchase.

    In case of dissatisfaction from our services, clients do not have the liberty to cancel their projects and request a refund from us. Our Policy for the cancellation and refund will be as follows:
    Cancellation Policy

    not supported.

    Refund Policy

    not supported.

</body>
</html>